{% extends 'base.html' %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}
{% include 'includes/navbar.html' %}
<div class="container mt-4">
    <h2>Checkout</h2>

    <h4 class="mt-3">Grand Total: <strong>₹{{ total|floatformat:2 }}</strong></h4>

    {% if total > 0 %}
        <div class="mt-4">
            <a href="{% url 'cart' %}" class="btn btn-secondary">Back to Cart</a>
            <form method="post" id="payment-form">
                {% csrf_token %}
                <button id="pay-button" type="button" class="btn btn-success">Proceed to Pay</button>
            </form>
        </div>
    {% else %}
        <p class="text-muted mt-3">Your cart is empty. <a href="{% url 'cart' %}">Go back</a></p>
    {% endif %}
</div>


{% endblock %}

