{% extends 'base.html' %}

{% block content %}
{% include 'includes/navbar.html' %}

            
<form id="forgetForm" action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" required>
    </div>
    
    <button type="submit" class="btn btn-primary w-100">Get Link </button>
</form>
<div id="processingMsg" class="alert alert-info" style="display:none;">
    Processing request, please wait...
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$("#forgetForm").on("submit", function(e){
    e.preventDefault();

    // show non-blocking message
    $("#processingMsg").show();

    $.ajax({
        url: "{% url 'forget_password' %}",
        type: "POST",
        data: $(this).serialize(),
        success: function(response){
            $("#processingMsg").hide();  // hide processing message
            alert(response.message);     // show final result
            if(response.success){
                window.location.href = "{% url 'login_view' %}";
            }
        }
    });
});

</script>

{% endblock %}
